/* You can add global styles to this file, and also import other style files */

.box {
  display: block;
  margin: 1rem;
  border: 1px salmon solid;
  padding: 1rem;
}

.title {
  border-bottom: 1px solid seagreen;
  display: inline-block;
}
